


body {
   background: #000000; /* Цвет фона */
    color: #FFFFFF; /* Цвет текста */
	overflow-x: hidden;
	
}

.header{
	display: none
}

/* контейнер заголовка и меню*/

.grid-container{
		display: grid;
		justify-content: center;
}


/* меню */

.nav{

}

.nav img {
        width: 90px;
}


/* звёздочка 1*/

.star1 {
    margin-top: 39px;
    margin-left: 103px;
}


/* звёздочка 2*/

.star2 {
    margin-top: 35px !important;
    margin-left: 1326px !important;
    width: 103px !important;
}

/* звёздочка 3 */

.star3 {
    margin-top: -14px !important;
    margin-left: 366px !important;
    width: 103px !important;
}



.grid-container1 {
    display: grid;
    margin-top: -138px;
}

p{
				color: white;
				font-size: 50px;
				font-family: 'DRUZHOK';
				text-decoration:none;
				letter-spacing:10px;
}

.about{
	
		margin-top: -18px;  
		margin-left: 233px; 
	
}

/* линия */

.grid-container1 img {
    margin-bottom: 28px;
    margin-top: -33px;
    margin-left: 611px;
    width: 295px;
}


/* второй текст по правому краю */

.textR {
    margin-top: -18px;
    margin-left: 961px;
}

.line2{
		margin-bottom: 28px !important; 
		margin-top: -7px !important; 
		margin-left: 865px !important; 
		width:295px !important;		
	
	
}

/* третий текст по левому краю */

.textL {
    margin-top: -157px;
    margin-left: 519px;
}


.ml{
	display:grid;
			justify-content: center !important;
	
	    width:1300px !important;	
	    margin-top: 55px !important; 
		margin: 0 auto; 
}


h1{
				color: white;
				font-size: 90px !important;
				font-family: 'DRUZHOK';
				text-decoration:none;
				letter-spacing:20px;
				margin-left:107px !important;
				margin-top:70px !important;
}

.grid-container2{
	display:grid;
 grid-template-columns: 50% 70%;
  margin-top: 85px;
}

.me {
    margin-top: -10px !important;
    margin-left: 157px !important;
    width: 300px;
}

/* текст и линия по трём строчкам */

.grid-container2 h2{
		display: grid;
		grid-template-rows: 40% 10% 30%;
        align-content: space-evenly;
        align-items: center;
		margin-top: 52px !important;
		margin-right:393px !important;
	 }

.one {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: -180px !important;
    margin-left: 151px !important;
}

/* обводка у текста про меня */

.cir4 {
    display: flex !important;
    margin-top: -298px !important;
    margin-left: 125px !important;
    width: 500px !important;
}


.two {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: -73px !important;
    margin-left: -133px !important;
}

/* звёздочки */

.stars2 {
    margin-top: -216px !important;
    margin-left: 188px !important;
}


.cir5 {
    display: flex !important;
    margin-top: -123px !important;
    margin-left: -168px !important;
    width: 500px !important;
}


/* звёздочка 4 */

.star4 {
    margin-top: -14px !important;
    margin-left: 1315px !important;
    width: 103px !important;
}


.line1{
    margin-top: 30px !important;
    margin-left: 65px !important;
    width: 165px !important;
}


.grid-container4{
display:grid;
 grid-template-rows: 50% 70%;
  margin-top: 85px;
}


.three {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: -33px !important;
    margin-left: 157px !important;
}


.taurus {
    display: flex !important;
    margin-top: -123px !important;
    margin-bottom: -33px !important;
    margin-left: 112px !important;
    width: 100px !important;
}

.кешью {
    display: flex !important;
    margin-top: -136px !important;
    margin-left: 955px !important;
    width: 130px !important;
}


.line3{
    margin-top: 55px !important;
    margin-left: 550px !important;
    width: 305px !important;
}


.four {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: -105px !important;
    margin-left: 877px !important;
}


.cir6 {
    display: flex !important;
    margin-top: -43px !important;
    margin-left: 1124px !important;
    width: 150px !important;
}


.movie1 {
    margin-top: -70px !important;
    margin-left: 157px !important;
    width: 290px;
}

.movie2 {
    margin-top: -35px !important;
    margin-left: 515px !important;
    width: 260px;
}


.line4 {
    margin-top: -275px !important;
    margin-left: 1300px !important;
    width: 115px !important;
}


.skills{
	margin-left:780px !important;
	margin-top:70px !important;
}


.grid-container6 {
    display: grid;
    grid-template-rows: 50% 70%;
    margin-top: 85px;
}


.five {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: -9px !important;
    margin-left: 157px !important;
}


.cir7 {
    display: flex !important;
    margin-top: -64px !important;
    margin-left: 390px !important;
    width: 165px !important;
}


/* звёздочка 5 */

.star5 {
    margin-top: -70px !important;
    margin-left: 1295px !important;
    width: 103px !important;
}

.six {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: 58px !important;
    margin-left: 629px !important;
}


/* звёздочки */

.stars3 {
    margin-top: -80px !important;
    margin-left: 145px !important;
}


.photo11 {
    margin-top: 37px !important;
    margin-bottom: 34px !important;
    margin-left: 225px !important;
    width: 300px;
}

.photo2 {
    margin-top: -305px !important;
    margin-left: 555px !important;
    width: 300px;
}

.photo3 {
    margin-top: -362px !important;
    margin-left: 887px !important;
    width: 300px;
}


.line6 {
    margin-top: -336px !important;
    margin-left: 437px !important;
    width: 800px !important;
}

.line7 {
    margin-top: -5px !important;
    margin-left: 623px !important;
    width: 600px !important;
}

.grid-container7 {
    display: grid;
    grid-template-rows: 50% 70%;
    margin-top: 85px;
}


.seven {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: 23px !important;
    margin-left: 309px !important;
}


.photo4 {
    margin-top: -127px !important;
    margin-left: 1023px !important;
    width: 300px;
}


.line8 {
    margin-top: -7px !important;
    margin-left: 578px !important;
    width: 300px !important;

}


.eight {
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa' !important;
    text-decoration: none;
    letter-spacing: 7px;
    margin-top: 50px !important;
    margin-left: 520px !important;
}


.star6 {
    margin-top: -205px !important;
    margin-left: 313px !important;
    width: 91px !important;
}


.cir8 {
    display: flex !important;
    margin-top: -83px !important;
    margin-left: 717px !important;
    width: 219px !important;
}


/* изогнутая линия в футере */
	
.footer {
	margin-top: 100px; 
	text-align:center;
	margin-bottom: -46px !important;
}

/* текст по 3 стодбцам и 3 строчкам*/


.grid-container3 {
    display: grid;
    grid-template-columns: 23% 30% 34%;
    grid-template-rows: 27% 35% 15%;
    justify-content: space-evenly;
    justify-items: center;
	margin-bottom: -46px !important;
}

	
/* названия соц сетей и год */
	 
.grid-container3 h1{
    color: white;
    font-size: 40px !important;
    font-family: 'DRUZHOK';
    text-decoration: none;
    letter-spacing: 10px;
    text-align: center;
}

/* пояснение */

.grid-container3 p {
color: white;
font-size: 10px !important;
font-family: 'Comfortaa' !important;
text-decoration: none;
letter-spacing: 7px;
}

.zapret {
    margin-top: 30px;
    margin-left: 52px;
}


/* названия профилей */

.grid-container3 h2{
	    color: white;
        font-size: 25px !important;
        font-family: 'Comfortaa' !important;
		text-decoration:none;
	    letter-spacing:7px;
		margin-left:105px;
}


.i {
    margin-left: 81px !important;
}


.s{
	color: white;
    font-size: 40px !important;
    font-family: 'DRUZHOK';
    text-decoration: none;
    letter-spacing: 10px;
    text-align: center !important;
margin-left: 167px !important;
}


.v{
	margin-left: 81px !important;
}

.u{
	 margin-left: 81px !important;3
}


/* ПЫТАЮСЬ В НАВИГАЦИЮ БОКОВУЮ */

.pushmenu {
		margin-top: -457px !important;  
		margin-left: 1374px !important;  	
			outline: none; /* Для синий ободки */
			border: 0;
			background: transparent;
			cursor: pointer;
}


body.sidebar-opened {overflow:hidden;}
.hidden-overley {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000000;
    opacity:0;
    width:0;
    height:0;
    transition: opacity 1s;
}
.hidden-overley.show {
    height: 100%;
    width: 100%;
    opacity:0.6;
    transition: opacity 1s;
	
}
.sidebar{
  position: fixed;
  z-index: 100;
  width: 1000px;
  height: 100%;
  right: -1000px;
  top:0;
  background: #000000;
  transition: right 0.4s ease;
  overflow: auto;
  overflow-y: hidden !important;
}


.grid-container5{
  display: grid;
  grid-template-columns: 10% 60% 30%;	
  grid-template-rows: 50% 50%;
  margin-top: 50px;
  justify-items:center;
  padding-right:21px;
  	overflow-x: hidden;
}

												
.grid-container5 a{
	display: grid;
	margin-top: 229px;
	letter-spacing: 8px;
	margin-left: -100px;
	text-decoration:none;
	color: #FFFFFF;
	font-size: 40px;
	font-family: 'DRUZHOK';
}

.animations{
	margin-top: -48px !important;
	letter-spacing: 3px !important;
	margin-left: 380px !important;
	text-decoration:none;
	color: #FFFFFF;
	font-size: 40px;
	font-family: 'DRUZHOK';
	letter-spacing: 8px !important;	
}

.shtuka {
	
		width: 318px !important;
		height: 400px !important;
    margin: 128px 70px 96px 125px !important;

	
}

.close {
    margin: -329px -912px 96px 125px !important;
	
}


.grid-container5 img{
	width: 660px;
    margin: 67px 88px 96px 125px;

}


.sidebar.show{
  right: 0px;
}